{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
    <h1>Ajouter un voyage</h1>

    {{ include('trip/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('trip_index') }}">Retour à la liste</a>
{% endblock %}
