{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('user_index') }}">REtour à la liste</a>
{% endblock %}
